<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <p>Nome: <%= nomeUsuarioCadastro %></p>
        <p>Sobrenome: <%= sobrenomeUsuarioCadastro %></p>
        <p>Idade: <%= idadeUsuarioCadastro %></p>
        <p>Email: <%= emailUsuarioCadastro %></p>
        <p>Nacionalidade: <%= nacionalidadeUsuarioCadastro %></p>
    <form action="/cadastro/recadastrar" method="post">
        <input type="submit" id="botao" name="recadastrar" value="Editar informações">
    </form>
</body>
</html>